
        
        <div class="row">
            <div class="col-md-12">
                <app-new-kartonik *ngIf="addNewKartonikFlag" [kartonik]="currentKartonik"  [itIsAddKartonik] = "itIsAddKartonik" (addNewKartonikFlagChange)="onChangedAddNewKartonikFlag($event)"></app-new-kartonik>
            </div>
        </div>

        <div class="row">
                <div class="col-md-12">
                    <div class="card" *ngIf="addNewKartonikFlag == false">
                        <div class="card-header card-header-success">
                            <div class="row">
                                <div class="col-5">
                                    <h4 class="card-title ">Kartoniki</h4>
                                </div>

                              
                                
                                <div class="col-7 text-right">
                                    <button class="btn btn-info" (click)="onAddKartonik()" *ngIf="!addNewKartonikFlag" >Add Towar</button>
                                    <!-- <button class="btn btn-info" (click)="onGetTotal()">Get old Tovar</button> -->
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Kod
                                        </th>
                                        <th>
                                            waga
                                        </th>
                                        <th>
                                            length
                                        </th>
                                        <th>
                                            width
                                        </th>
                                        <th>
                                            height
                                        </th>
                                        <th>
                                            Op
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of kartonik">
                                            <td>{{item.code}}</td>
                                            <td>{{item.waga}}</td>
                                            <td>{{item.length}}</td>
                                            <td>{{item.width}}</td>
                                            <td>{{item.height}}</td>
                                            <td>
                                                <button *ngIf="flagSelectKartonik == false" class="btn" (click)="onEditKartonik(item)"><i class="material-icons">edit</i></button>
                                                <button *ngIf="flagSelectKartonik" class="btn" (click)="onSelectKartonik(item)"><i class="material-icons">done_outline</i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
