<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group [backgroundColor]='background'>
          <!-- Card  organization  -->
          <mat-tab label="Organization">
            <app-organization-setting></app-organization-setting>
          </mat-tab>
          <mat-tab label="Kind Units">
            <app-kind-unit></app-kind-unit>
          </mat-tab>
          <mat-tab label="Kartoniki">
            <app-kartonik></app-kartonik>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>